/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  font-family: serif;
  color: var(--color-white);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* container */

.container {
  margin: 1rem;
}

.user {
  display: flex;
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 1px;
}

.user_h4 {
  margin-right: 1rem;
}

.user_cd {
  margin-left: 1rem;
}

.user_contact {
  margin-left: 1rem;
}
